
/* common */
ul{
    
    list-style-type: none;
}
li{
    display: inline-block;
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: white;
}
img{
    width: 100%;
    height: auto;
}
.ms_center{
    text-align: center;
}
.ms_color_white{
    color: white;
}
.ms_color_blue{
    color:  rgb(7, 42, 51);
}
.ms_btn{
    
    border-radius: 4px;
    padding: 3px 7px;
    display: inline-block;
}
/* header */
header{
    height: 80px;
    background-color: rgb(7, 42, 51);
    color: white;
}
header ul{
    text-align: end;
}
.ms_bar-menu{
    font-size: 30px;
    line-height: 80px;
}
.ms_alignment{
    line-height: 80px;
}
/* start bootstrap section */
.start-bs-section{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: rgb(8, 163, 124);
}
.ms_img-control{
    width: 40%;
    height: auto;
    margin: auto;
}
.start-bs-section h1 {
    color: white;
    text-align: center;
}

/* portfolio section */
.abbellimenti{
    
    margin: 10px 0;
}
.abbellimenti img{
    border-radius: 10px;
}
/* about section */
.about-section{
    width: 100%;
    height: auto;
    background-color: rgb(8, 163, 124);
    padding: 80px;
}
.ms_btn_border{
    border: 1px solid white;
}

/* contact me section */
.ms_container{
    width: 60%;
    margin: auto;
    height: auto;
}
.ms_spacing{
    margin-top: 80px;
}
.ms_btn_color{
    background-color: rgb(8, 163, 124);
}
/* footer */
footer{
    background-color: rgb(26, 64, 102);
}
.ms_spacing_footer-element{
    margin: 17px 0;
}
.ms_border_circle{
    border: 2px solid white;
    height: 40px;
    width: 40px;
    line-height: 20px;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
    text-align: center;
    font-size: 24px;
}
.ms_color_fluoblue{
    color: rgb(0, 60, 255);
}
.ms_color_background{
    background-color: rgb(17, 42, 66);
}
